 /*main banner*/
 
 .container-fluid {
  /* position: relative; */
  width: 100%;
  padding: 3rem; 
 } 
 #poster{
 background-image: url(Business\ banner.jpg);
 height: 650px;
 padding-top: 15px;
 padding-bottom: 20vh;
 background-position: center;
 background-size: cover;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: flex-start;
 } 
  nav {
    background-color:none;
    padding: 10px;
   } 
  .main{ 
    margin-left: 31px;
    margin-top: 30px; 
     color: #fff; 
  }
 .main1{
  margin-top: -37px;
  margin-left: 31px;
  margin-bottom: -42px;
  color: #fff;
 }
  h1 {
        position: relative;
        margin-top: 170px;
        margin-left: 91px;
        color: #fff;
  }
  
  .tata {
    position: relative;
    color: #fff;
    margin-left: 91px;
   }  
  .progress-bar {
    width: 15%;
    background-color: rgba(192, 182, 182, 0.473);  /*Transparent background color */
    border-radius: 7px;
    float: right;
    margin-right: 2rem;
    height: 20px;
    border-style: ridge;
    overflow: hidden;
    } 
  
  .progress { 
    width: 20%; /*Example:  20% progress */
     background-color: rgba(76, 175, 80, 0.8); /*Transparent progress color */
     transition: width 0.3s ease-in-out;
    padding: 20px;
    background-color: #fff; 
   }
 i{
  float: right;
  margin-right: 5rem;
  margin-bottom: 60px;
  font-size: 25px;
  color: #dbd2d2d7;
 } 

 /* discription */



 


  
  
  